node-red/flows/20170115
[{"id":"c9c16185.045e78","type":"serial in","z":"c56dec5f.5a29f","name":"HC-SR04","serial":"4451231f.5b1c6c","x":74.0333251953125,"y":95.3666763305664,"wires":[["c3cea951.e91d48"]]},{"id":"e56dbaa3.531568","type":"inject","z":"c56dec5f.5a29f","name":"HC-SR04 init","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":102.5,"y":37.366676330566406,"wires":[["9b9ff080.dea6c8"]]},{"id":"9b9ff080.dea6c8","type":"serial out","z":"c56dec5f.5a29f","name":"HC-SR04","serial":"4451231f.5b1c6c","x":281.5,"y":38.59998321533203,"wires":[]},{"id":"ae4fe2aa.dab15","type":"mongodb out","z":"c56dec5f.5a29f","mongodb":"8472728e.15378","name":"Event from sensor","collection":"event","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1088.5001220703125,"y":73.36668395996094,"wires":[]},{"id":"508090f7.4c9ef","type":"mongodb in","z":"c56dec5f.5a29f","mongodb":"8472728e.15378","name":"Event from sensor","collection":"event","operation":"find","x":1100.5000610351562,"y":154.43331909179688,"wires":[["d034f23.760011","4512b10a.4c4c68"]]},{"id":"33ea2f6.a6f925","type":"inject","z":"c56dec5f.5a29f","name":"Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":794.4999847412109,"y":147.3666534423828,"wires":[["b4845ad5.4194e"]]},{"id":"c3cea951.e91d48","type":"function","z":"c56dec5f.5a29f","name":"Event from HC-SR04","func":"var time = new Date().getTime();\nreturn {payload: {distance: Number(msg.payload), time: time}};","outputs":1,"noerr":0,"x":271.5,"y":96.16666412353516,"wires":[["95fc0b58.00ede"]]},{"id":"b4845ad5.4194e","type":"function","z":"c56dec5f.5a29f","name":"Query","func":"msg.payload = {distance: {$gt: 40}};\nmsg.limit = 100;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":929.5,"y":178.16664123535156,"wires":[["508090f7.4c9ef"]]},{"id":"95fc0b58.00ede","type":"mqtt out","z":"c56dec5f.5a29f","name":"","topic":"sensor","qos":"0","retain":"false","broker":"9b27dd09.f28498","x":527.25,"y":48.5,"wires":[]},{"id":"b17984e1.6e85e8","type":"mqtt in","z":"c56dec5f.5a29f","name":"","topic":"sensor","qos":"0","broker":"8ce1d738.0bbe9","x":705.25,"y":47.600013732910156,"wires":[["b3edb06f.028c5"]]},{"id":"b3edb06f.028c5","type":"function","z":"c56dec5f.5a29f","name":"JSON parse","func":"return {payload: JSON.parse(msg.payload)};","outputs":1,"noerr":0,"x":882,"y":82.5,"wires":[["ae4fe2aa.dab15"]]},{"id":"d034f23.760011","type":"debug","z":"c56dec5f.5a29f","name":"","active":true,"console":"false","complete":"false","x":1212.2499542236328,"y":220.2333526611328,"wires":[]},{"id":"44a5333c.92f1ec","type":"http in","z":"c56dec5f.5a29f","name":"localhost:1880/query","url":"/query","method":"get","swaggerDoc":"","x":679.2500152587891,"y":247.78334045410156,"wires":[["b4845ad5.4194e"]]},{"id":"7487d911.c2dae","type":"http response","z":"c56dec5f.5a29f","name":"localhost:1880/query","x":1022.25,"y":319.5333251953125,"wires":[]},{"id":"4512b10a.4c4c68","type":"function","z":"c56dec5f.5a29f","name":"Response","func":"return msg;","outputs":1,"noerr":0,"x":990.2499389648438,"y":237.9833526611328,"wires":[["7487d911.c2dae"]]},{"id":"4451231f.5b1c6c","type":"serial-port","z":"","serialport":"/dev/serial/by-id/usb-FTDI_FT230X_Basic_UART_DJ00LKSL-if00-port0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"8472728e.15378","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"sensor","name":""},{"id":"9b27dd09.f28498","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8ce1d738.0bbe9","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]