node-red/flows/20170123
[{"id":"c9c16185.045e78","type":"serial in","z":"c56dec5f.5a29f","name":"HC-SR04","serial":"a10df1ba.9a0ff","x":79.0333251953125,"y":181.3666763305664,"wires":[["c3cea951.e91d48"]]},{"id":"e56dbaa3.531568","type":"inject","z":"c56dec5f.5a29f","name":"initialize distance sensor","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":142.5,"y":30.366676330566406,"wires":[["9b9ff080.dea6c8"]]},{"id":"9b9ff080.dea6c8","type":"serial out","z":"c56dec5f.5a29f","name":"HC-SR04","serial":"a10df1ba.9a0ff","x":401.5,"y":28.59998321533203,"wires":[]},{"id":"ae4fe2aa.dab15","type":"mongodb out","z":"c56dec5f.5a29f","mongodb":"8472728e.15378","name":"Event from sensor","collection":"event","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1082.5000915527344,"y":167.3666763305664,"wires":[]},{"id":"508090f7.4c9ef","type":"mongodb in","z":"c56dec5f.5a29f","mongodb":"8472728e.15378","name":"Event from sensor","collection":"event","operation":"find","x":1084.4999694824219,"y":246.43331146240234,"wires":[["4512b10a.4c4c68"]]},{"id":"33ea2f6.a6f925","type":"inject","z":"c56dec5f.5a29f","name":"Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":808.4999694824219,"y":279.3666305541992,"wires":[["b4845ad5.4194e"]]},{"id":"c3cea951.e91d48","type":"function","z":"c56dec5f.5a29f","name":"Event from HC-SR04","func":"var data = Number(msg.payload);\nmsg.payload = {distance: data};\n\nreturn [msg, {payload: data}];","outputs":"2","noerr":0,"x":342.5,"y":178.16663360595703,"wires":[[],["be97821c.b947"]]},{"id":"b4845ad5.4194e","type":"function","z":"c56dec5f.5a29f","name":"Query","func":"msg.payload = {distance: {$gt: 40}};\nmsg.limit = 100;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":934.4999694824219,"y":294.16661834716797,"wires":[["508090f7.4c9ef"]]},{"id":"95fc0b58.00ede","type":"mqtt out","z":"c56dec5f.5a29f","name":"","topic":"sensor","qos":"0","retain":"false","broker":"9b27dd09.f28498","x":574.2499694824219,"y":101.5,"wires":[]},{"id":"b17984e1.6e85e8","type":"mqtt in","z":"c56dec5f.5a29f","name":"","topic":"sensor","qos":"0","broker":"8ce1d738.0bbe9","x":756.2499694824219,"y":98.60000610351562,"wires":[["b3edb06f.028c5"]]},{"id":"b3edb06f.028c5","type":"function","z":"c56dec5f.5a29f","name":"JSON parse","func":"return {payload: JSON.parse(msg.payload)};","outputs":1,"noerr":0,"x":847.9999694824219,"y":166.49999237060547,"wires":[[]]},{"id":"44a5333c.92f1ec","type":"http in","z":"c56dec5f.5a29f","name":"localhost:1880/query","url":"/query","method":"get","swaggerDoc":"","x":761.2499694824219,"y":324.78331756591797,"wires":[["b4845ad5.4194e"]]},{"id":"7487d911.c2dae","type":"http response","z":"c56dec5f.5a29f","name":"localhost:1880/query","x":803.2499694824219,"y":373.53331756591797,"wires":[]},{"id":"4512b10a.4c4c68","type":"function","z":"c56dec5f.5a29f","name":"","func":"return msg;","outputs":1,"noerr":0,"x":1065.2499084472656,"y":320.98336029052734,"wires":[["7487d911.c2dae"]]},{"id":"b165e294.ea44a","type":"inject","z":"c56dec5f.5a29f","name":"Start one-shot capture","topic":"","payload":"capture","payloadType":"str","repeat":"","crontab":"","once":false,"x":143.8333282470703,"y":526.0000228881836,"wires":[["b6ce1712.ef88e8"]]},{"id":"b6ce1712.ef88e8","type":"mqtt out","z":"c56dec5f.5a29f","name":"camera1 capture","topic":"camera1","qos":"0","retain":"false","broker":"8ce1d738.0bbe9","x":541.833251953125,"y":523.3333358764648,"wires":[]},{"id":"62010868.805838","type":"debug","z":"c56dec5f.5a29f","name":"","active":true,"console":"false","complete":"payload","x":995.8332824707031,"y":479.6666793823242,"wires":[]},{"id":"6d84841d.2347dc","type":"mqtt in","z":"c56dec5f.5a29f","name":"camera1 image","topic":"image","qos":"0","broker":"8ce1d738.0bbe9","x":795.7569274902344,"y":519.0880355834961,"wires":[[]]},{"id":"a200eb02.0e5158","type":"file","z":"c56dec5f.5a29f","name":"base64-encoded image","filename":"/tmp/capture.b64","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1037.7569274902344,"y":544.187614440918,"wires":[]},{"id":"7f9f2958.681c68","type":"inject","z":"c56dec5f.5a29f","name":"8bit MCU internal timer simulator","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":181,"y":408.99999237060547,"wires":[["f14bc75d.83bed8","f910df9d.03f62"]]},{"id":"f910df9d.03f62","type":"function","z":"c56dec5f.5a29f","name":"Distance sensor simulator","func":"var RANGE_MIN = 5;\nvar RANGE_MAX = 50;\nvar diff = RANGE_MAX - RANGE_MIN;\n\nvar distance = RANGE_MIN + Math.floor(Math.random() * diff);\nmsg.payload = distance.toString() + '\\n';\nreturn msg;","outputs":1,"noerr":0,"x":181,"y":306.99999237060547,"wires":[["c3cea951.e91d48"]]},{"id":"e2a377a9.1432d8","type":"debug","z":"c56dec5f.5a29f","name":"","active":true,"console":"false","complete":"false","x":1066.9999694824219,"y":111,"wires":[]},{"id":"f14bc75d.83bed8","type":"function","z":"c56dec5f.5a29f","name":"Acceleration sensor simulator","func":"var VARIANCE = 50;\nvar LEVEL_MAX = 1023;  // 10 bit A/D converter\nvar LEVEL_MIDDLE = LEVEL_MAX/2;  // 511 means 0 volt\nvar GRAVITY = LEVEL_MIDDLE/2;  // sensor's measurement range: -2 ~ +2g\n\nvar gaussian = global.get('gaussian');\nvar dist = gaussian(LEVEL_MIDDLE, VARIANCE);\n\nvar x = Math.floor(dist.ppf(Math.random())).toString();\nvar y = Math.floor(dist.ppf(Math.random())).toString();\nvar z = Math.floor(dist.ppf(Math.random())-GRAVITY).toString();\n\nmsg.payload = x + ',' + y + ',' + z + '\\n';\nreturn msg;","outputs":1,"noerr":0,"x":182,"y":355.99999237060547,"wires":[["60788b4e.2c2904"]]},{"id":"e5b48c98.35c85","type":"function","z":"c56dec5f.5a29f","name":"Sensor agent","func":"var timestamp = new Date().getTime();\nmsg.payload.timestamp = timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":555.9999389648438,"y":215.99999237060547,"wires":[["95fc0b58.00ede"]]},{"id":"60788b4e.2c2904","type":"function","z":"c56dec5f.5a29f","name":"Event from KXR94-2050","func":"var data = msg.payload.trim().split(',');\n\nvar x = Number(data[0]);\nvar y = Number(data[1]);\nvar z = Number(data[2]);\n\nmsg.payload = {acceleration: {x: x, y: y, z: z}};\nreturn [msg, {payload: x}, {payload: y}, {payload: z}];","outputs":"4","noerr":0,"x":343.6666259765625,"y":244.66663360595703,"wires":[["e5b48c98.35c85"],["296a4ca9.3c7e44"],["4a8eb8cb.e0e828"],["2c227e70.b15f52"]]},{"id":"bc06292d.155148","type":"inject","z":"c56dec5f.5a29f","name":"Initialize acceleration sensor","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":156.66665649414062,"y":89.66666412353516,"wires":[["a632b38e.277a7"]]},{"id":"a632b38e.277a7","type":"serial out","z":"c56dec5f.5a29f","name":"KXR94-2050","serial":"","x":408.6666564941406,"y":89.89997100830078,"wires":[]},{"id":"f2d01402.b406e8","type":"serial in","z":"c56dec5f.5a29f","name":"KXR94-2050","serial":"","x":82.66665649414062,"y":247.6666488647461,"wires":[["60788b4e.2c2904"]]},{"id":"be97821c.b947","type":"ui_gauge","z":"c56dec5f.5a29f","name":"Distance gauge","group":"f41856c0.ae2108","order":0,"width":0,"height":0,"gtype":"gage","title":"Distance","label":"cm","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"x":479.5,"y":314.99999237060547,"wires":[]},{"id":"296a4ca9.3c7e44","type":"ui_gauge","z":"c56dec5f.5a29f","name":"Acceleration X-axis gauge","group":"f41856c0.ae2108","order":0,"width":0,"height":0,"gtype":"gage","title":"Acceleration X-axis","label":"level","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"x":506.6665954589844,"y":360.6666488647461,"wires":[]},{"id":"4a8eb8cb.e0e828","type":"ui_gauge","z":"c56dec5f.5a29f","name":"Acceleration Y-axis gauge","group":"f41856c0.ae2108","order":0,"width":0,"height":0,"gtype":"gage","title":"Acceleration Y-axis","label":"level","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"x":504.6665954589844,"y":402.6666488647461,"wires":[]},{"id":"2c227e70.b15f52","type":"ui_gauge","z":"c56dec5f.5a29f","name":"Acceleration Z-axis gauge","group":"f41856c0.ae2108","order":0,"width":0,"height":0,"gtype":"gage","title":"Acceleration Z-axis","label":"level","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"x":502.6665954589844,"y":443.6666488647461,"wires":[]},{"id":"28f9f39d.3d5c6c","type":"inject","z":"c56dec5f.5a29f","name":"Front camera capture timer","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":158.66665649414062,"y":576.6666793823242,"wires":[["93354322.df38e"]]},{"id":"93354322.df38e","type":"function","z":"c56dec5f.5a29f","name":"Capture command","func":"msg.payload = 'capture';\nreturn msg;","outputs":1,"noerr":0,"x":293.5,"y":639.6667098999023,"wires":[["b6ce1712.ef88e8"]]},{"id":"a1ca5ef.87101a","type":"ui_audio","z":"c56dec5f.5a29f","name":"Text-to-Speech(Japanese)","group":"f41856c0.ae2108","voice":"11","x":657.4999694824219,"y":806.3333740234375,"wires":[]},{"id":"1763a729.d6afb9","type":"mqtt in","z":"c56dec5f.5a29f","name":"TTS command","topic":"tts","qos":"0","broker":"8ce1d738.0bbe9","x":330.5000305175781,"y":806.0000610351562,"wires":[["a1ca5ef.87101a"]]},{"id":"a75aa70e.49b938","type":"rpi-gpio in","z":"c56dec5f.5a29f","name":"Tactile SW push event","pin":"33","intype":"tri","debounce":"25","read":false,"x":139.5,"y":1007.3333740234375,"wires":[["58b89bc0.a50684"]]},{"id":"7603817e.fa3ed","type":"mqtt out","z":"c56dec5f.5a29f","name":"Tactile SW push event","topic":"push","qos":"0","retain":"false","broker":"8ce1d738.0bbe9","x":619.4999694824219,"y":1008.6666870117188,"wires":[]},{"id":"58b89bc0.a50684","type":"function","z":"c56dec5f.5a29f","name":"Check if pushed","func":"if (msg.payload == 0) {\n    msg = null;    \n} \nreturn msg;","outputs":1,"noerr":0,"x":366.5,"y":1008.3333740234375,"wires":[["7603817e.fa3ed"]]},{"id":"4afb647c.024e1c","type":"debug","z":"c56dec5f.5a29f","name":"","active":true,"console":"false","complete":"payload","x":1102.6665954589844,"y":1005.6666870117188,"wires":[]},{"id":"12ad6577.a3645b","type":"mqtt in","z":"c56dec5f.5a29f","name":"Tactile SW push event","topic":"push","qos":"0","broker":"8ce1d738.0bbe9","x":883.6665954589844,"y":1005.6666870117188,"wires":[["4afb647c.024e1c"]]},{"id":"257c3d7b.e23b92","type":"rpi-gpio out","z":"c56dec5f.5a29f","name":"LED(red)","pin":"13","set":true,"level":"0","out":"out","x":696.4999694824219,"y":922.3333740234375,"wires":[]},{"id":"e2f2f05a.41cfb","type":"mqtt in","z":"c56dec5f.5a29f","name":"LED control","topic":"led","qos":"0","broker":"8ce1d738.0bbe9","x":318.5,"y":892.3333740234375,"wires":[["2e1827eb.b4d3b8"]]},{"id":"2e1827eb.b4d3b8","type":"function","z":"c56dec5f.5a29f","name":"LED control","func":"var green = null;\nvar red = null;\n\nswitch(msg.payload) {\n    case 'green':\n        green = 1;\n        red = 0;\n        break;\n    case 'red':\n        green = 0;\n        red = 1;\n        break;\n    case 'off':\n        green = 0;\n        red = 0;\n        break;\n}\n\nreturn [{payload: green}, {payload: red}];","outputs":"2","noerr":0,"x":505.5000305175781,"y":891.9999974568684,"wires":[["aac145f5.431ff8"],["257c3d7b.e23b92"]]},{"id":"aac145f5.431ff8","type":"rpi-gpio out","z":"c56dec5f.5a29f","name":"LED(green)","pin":"11","set":true,"level":"0","out":"out","x":700.6665954589844,"y":858,"wires":[]},{"id":"a10df1ba.9a0ff","type":"serial-port","z":"","serialport":"/dev/serial/by-id/usb-FTDI_FT230X_Basic_UART_DJ00M1CZ-if00-port0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"8472728e.15378","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"sensor","name":""},{"id":"9b27dd09.f28498","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8ce1d738.0bbe9","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f41856c0.ae2108","type":"ui_group","z":"","name":"gauge","tab":"3eebea22.a46ca6","disp":true,"width":"6"},{"id":"3eebea22.a46ca6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
