node-red/flows/iot_wagon
[{"id":"c9c16185.045e78","type":"serial in","z":"c56dec5f.5a29f","name":"HC-SR04","serial":"a10df1ba.9a0ff","x":125.03334045410156,"y":194.36669921875,"wires":[["c3cea951.e91d48"]]},{"id":"e56dbaa3.531568","type":"inject","z":"c56dec5f.5a29f","name":"initialize distance sensor","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":191.50001525878906,"y":55.36669158935547,"wires":[["9b9ff080.dea6c8"]]},{"id":"9b9ff080.dea6c8","type":"serial out","z":"c56dec5f.5a29f","name":"HC-SR04","serial":"a10df1ba.9a0ff","x":440.5,"y":54.59999084472656,"wires":[]},{"id":"ae4fe2aa.dab15","type":"mongodb out","z":"c56dec5f.5a29f","mongodb":"8472728e.15378","name":"Event from sensor","collection":"event","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1389.5001220703125,"y":134.36668395996094,"wires":[]},{"id":"c3cea951.e91d48","type":"function","z":"c56dec5f.5a29f","name":"Event from HC-SR04","func":"var data = Number(msg.payload);\nmsg.payload = {distance: data};\n\nreturn [msg, {payload: data}];","outputs":"2","noerr":0,"x":548.5,"y":206.16664123535156,"wires":[["e5b48c98.35c85"],["be97821c.b947"]]},{"id":"95fc0b58.00ede","type":"mqtt out","z":"c56dec5f.5a29f","name":"","topic":"sensor","qos":"0","retain":"false","broker":"9b27dd09.f28498","x":792.25,"y":134.50000762939453,"wires":[]},{"id":"b17984e1.6e85e8","type":"mqtt in","z":"c56dec5f.5a29f","name":"","topic":"sensor","qos":"0","broker":"8ce1d738.0bbe9","x":1029.25,"y":134.60001373291016,"wires":[["b3edb06f.028c5"]]},{"id":"b3edb06f.028c5","type":"function","z":"c56dec5f.5a29f","name":"JSON parse","func":"return {payload: JSON.parse(msg.payload)};","outputs":1,"noerr":0,"x":1187,"y":135.5,"wires":[["ae4fe2aa.dab15"]]},{"id":"b165e294.ea44a","type":"inject","z":"c56dec5f.5a29f","name":"Start one-shot capture","topic":"","payload":"capture","payloadType":"str","repeat":"","crontab":"","once":false,"x":183.8333282470703,"y":569.0000610351562,"wires":[["b6ce1712.ef88e8"]]},{"id":"b6ce1712.ef88e8","type":"mqtt out","z":"c56dec5f.5a29f","name":"camera1 capture","topic":"camera1","qos":"0","retain":"false","broker":"8ce1d738.0bbe9","x":756.833251953125,"y":568.3333740234375,"wires":[]},{"id":"6d84841d.2347dc","type":"mqtt in","z":"c56dec5f.5a29f","name":"camera1 image","topic":"image","qos":"0","broker":"8ce1d738.0bbe9","x":1054.7569580078125,"y":563.0880737304688,"wires":[["a200eb02.0e5158"]]},{"id":"a200eb02.0e5158","type":"file","z":"c56dec5f.5a29f","name":"base64-encoded image","filename":"/tmp/capture.b64","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1374.7569580078125,"y":580.1876220703125,"wires":[]},{"id":"7f9f2958.681c68","type":"inject","z":"c56dec5f.5a29f","name":"8bit MCU internal timer simulator","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":221,"y":441,"wires":[["f14bc75d.83bed8","f910df9d.03f62"]]},{"id":"f910df9d.03f62","type":"function","z":"c56dec5f.5a29f","name":"Distance sensor simulator","func":"var RANGE_MIN = 5;\nvar RANGE_MAX = 50;\nvar diff = RANGE_MAX - RANGE_MIN;\n\nvar distance = RANGE_MIN + Math.floor(Math.random() * diff);\nmsg.payload = distance.toString();\nreturn msg;","outputs":1,"noerr":0,"x":205.00001525878906,"y":329,"wires":[["c3cea951.e91d48"]]},{"id":"f14bc75d.83bed8","type":"function","z":"c56dec5f.5a29f","name":"Acceleration sensor simulator","func":"var VARIANCE = 50;\nvar LEVEL_MAX = 1023;  // 10 bit A/D converter\nvar LEVEL_MIDDLE = LEVEL_MAX/2;  // 511 means 0 volt\nvar GRAVITY = LEVEL_MIDDLE/2;  // sensor's measurement range: -2 ~ +2g\n\nvar gaussian = global.get('gaussian');\nvar dist = gaussian(LEVEL_MIDDLE, VARIANCE);\n\nvar x = Math.floor(dist.ppf(Math.random())).toString();\nvar y = Math.floor(dist.ppf(Math.random())).toString();\nvar z = Math.floor(dist.ppf(Math.random())+GRAVITY).toString();\n\nmsg.payload = x + ',' + y + ',' + z;\nreturn msg;","outputs":1,"noerr":0,"x":218,"y":378,"wires":[["60788b4e.2c2904"]]},{"id":"e5b48c98.35c85","type":"function","z":"c56dec5f.5a29f","name":"Sensor agent","func":"var BUS_ID = 123;\nvar timestamp = new Date().getTime();\n\nmsg.payload.bus_id = BUS_ID;\nmsg.payload.timestamp = timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":806.9998779296875,"y":237.00003051757812,"wires":[["95fc0b58.00ede"]]},{"id":"60788b4e.2c2904","type":"function","z":"c56dec5f.5a29f","name":"Event from KXR94-2050","func":"var MIDDLE = 512.0;\nvar G = 256.0;\n\nvar data = msg.payload.trim().split(',');\n\nvar x = (Number(data[0])-MIDDLE)/G;\nvar y = (Number(data[1])-MIDDLE)/G;\nvar z = (Number(data[2])-MIDDLE)/G;\n\nx = x.toFixed(2);\ny = y.toFixed(2);\nz = z.toFixed(2);\n\nmsg.payload = {acceleration: {x: x, y: y, z: z}};\nreturn [msg, {payload: x}, {payload: y}, {payload: z}];","outputs":"4","noerr":0,"x":559.6666259765625,"y":282.66664123535156,"wires":[["e5b48c98.35c85"],["296a4ca9.3c7e44"],["4a8eb8cb.e0e828"],["2c227e70.b15f52"]]},{"id":"bc06292d.155148","type":"inject","z":"c56dec5f.5a29f","name":"Initialize acceleration sensor","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":202.66664123535156,"y":104.66667938232422,"wires":[["a632b38e.277a7"]]},{"id":"a632b38e.277a7","type":"serial out","z":"c56dec5f.5a29f","name":"KXR94-2050","serial":"3498a4e6.caae64","x":442.6666259765625,"y":109.89998626708984,"wires":[]},{"id":"f2d01402.b406e8","type":"serial in","z":"c56dec5f.5a29f","name":"KXR94-2050","serial":"3498a4e6.caae64","x":137.66664123535156,"y":250.66665649414062,"wires":[["60788b4e.2c2904"]]},{"id":"be97821c.b947","type":"ui_gauge","z":"c56dec5f.5a29f","name":"Distance gauge","group":"f41856c0.ae2108","order":0,"width":0,"height":0,"gtype":"gage","title":"Distance","label":"cm","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"x":617.5,"y":355,"wires":[]},{"id":"296a4ca9.3c7e44","type":"ui_gauge","z":"c56dec5f.5a29f","name":"Acceleration X-axis gauge","group":"f41856c0.ae2108","order":0,"width":0,"height":0,"gtype":"gage","title":"Acceleration X-axis","label":"G","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"x":654.6666259765625,"y":396.6666564941406,"wires":[]},{"id":"4a8eb8cb.e0e828","type":"ui_gauge","z":"c56dec5f.5a29f","name":"Acceleration Y-axis gauge","group":"f41856c0.ae2108","order":0,"width":0,"height":0,"gtype":"gage","title":"Acceleration Y-axis","label":"G","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"x":656.6666259765625,"y":440.6666564941406,"wires":[]},{"id":"2c227e70.b15f52","type":"ui_gauge","z":"c56dec5f.5a29f","name":"Acceleration Z-axis gauge","group":"f41856c0.ae2108","order":0,"width":0,"height":0,"gtype":"gage","title":"Acceleration Z-axis","label":"G","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"x":658.6666259765625,"y":484.6666564941406,"wires":[]},{"id":"28f9f39d.3d5c6c","type":"inject","z":"c56dec5f.5a29f","name":"Front camera capture timer","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":198.66665649414062,"y":634.6666870117188,"wires":[["93354322.df38e"]]},{"id":"93354322.df38e","type":"function","z":"c56dec5f.5a29f","name":"Capture command","func":"msg.payload = 'capture';\nreturn msg;","outputs":1,"noerr":0,"x":473.5,"y":636.6666870117188,"wires":[["b6ce1712.ef88e8"]]},{"id":"a1ca5ef.87101a","type":"ui_audio","z":"c56dec5f.5a29f","name":"Text-to-Speech(Japanese)","group":"f41856c0.ae2108","voice":"0","x":1127.5,"y":712.3334350585938,"wires":[]},{"id":"1763a729.d6afb9","type":"mqtt in","z":"c56dec5f.5a29f","name":"TTS command","topic":"tts","qos":"0","broker":"8ce1d738.0bbe9","x":873.5,"y":712.0001831054688,"wires":[["a1ca5ef.87101a"]]},{"id":"a75aa70e.49b938","type":"rpi-gpio in","z":"c56dec5f.5a29f","name":"Tactile SW push event","pin":"33","intype":"tri","debounce":"25","read":false,"x":153.4999542236328,"y":1017.3333129882812,"wires":[["58b89bc0.a50684"]]},{"id":"7603817e.fa3ed","type":"mqtt out","z":"c56dec5f.5a29f","name":"Tactile SW push event","topic":"push","qos":"0","retain":"false","broker":"8ce1d738.0bbe9","x":743.4999542236328,"y":981.6666259765625,"wires":[]},{"id":"58b89bc0.a50684","type":"function","z":"c56dec5f.5a29f","name":"Check if pushed","func":"if (msg.payload == 0) {\n    msg = null;    \n} \nreturn msg;","outputs":1,"noerr":0,"x":443.4999542236328,"y":983.3333129882812,"wires":[["7603817e.fa3ed"]]},{"id":"12ad6577.a3645b","type":"mqtt in","z":"c56dec5f.5a29f","name":"Tactile SW push event","topic":"push","qos":"0","broker":"8ce1d738.0bbe9","x":1046.6665802001953,"y":978.6666259765625,"wires":[[]]},{"id":"257c3d7b.e23b92","type":"rpi-gpio out","z":"c56dec5f.5a29f","name":"LED(red)","pin":"35","set":true,"level":"0","out":"out","x":1419.5,"y":901.3333740234375,"wires":[]},{"id":"e2f2f05a.41cfb","type":"mqtt in","z":"c56dec5f.5a29f","name":"LED control","topic":"led","qos":"0","broker":"8ce1d738.0bbe9","x":882.5,"y":811.3333740234375,"wires":[["2e1827eb.b4d3b8"]]},{"id":"2e1827eb.b4d3b8","type":"function","z":"c56dec5f.5a29f","name":"LED control","func":"var blue = null;\nvar red = null;\n\nswitch(msg.payload) {\n    case 'blue':\n        blue = 1;\n        red = 0;\n        break;\n    case 'red':\n        blue = 0;\n        red = 1;\n        break;\n    case 'off':\n        blue = 0;\n        red = 0;\n        break;\n}\n\nreturn [{payload: blue}, {payload: red}];","outputs":"2","noerr":0,"x":1149.5,"y":813,"wires":[["aac145f5.431ff8","3a98935c.13a25c"],["257c3d7b.e23b92","54a5bdaa.6e1394"]]},{"id":"aac145f5.431ff8","type":"rpi-gpio out","z":"c56dec5f.5a29f","name":"LED(blue)","pin":"37","set":true,"level":"0","out":"out","x":1417.6666259765625,"y":842,"wires":[]},{"id":"54a5bdaa.6e1394","type":"ui_text","z":"c56dec5f.5a29f","group":"8cdbca0d.c3f478","order":0,"width":0,"height":0,"name":"LED(red)","label":"LED(red)","format":"{{msg.payload}}","layout":"row-spread","x":1417.75,"y":789.90625,"wires":[]},{"id":"3a98935c.13a25c","type":"ui_text","z":"c56dec5f.5a29f","group":"8cdbca0d.c3f478","order":0,"width":0,"height":0,"name":"LED(blue)","label":"LED(blue)","format":"{{msg.payload}}","layout":"row-spread","x":1415.5078125,"y":738.5234375,"wires":[]},{"id":"2b4deaa6.b00246","type":"inject","z":"c56dec5f.5a29f","name":"Send TTS message","topic":"tts","payload":"あいはぶあぺん　あいはぶあんあぷる","payloadType":"str","repeat":"","crontab":"","once":false,"x":163.50779724121094,"y":713.5234985351562,"wires":[["a733e912.9d7d08"]]},{"id":"a733e912.9d7d08","type":"mqtt out","z":"c56dec5f.5a29f","name":"TTS command","topic":"tts","qos":"0","retain":"false","broker":"8ce1d738.0bbe9","x":600.75,"y":714.0703735351562,"wires":[]},{"id":"81fe855d.f34a08","type":"inject","z":"c56dec5f.5a29f","name":"Turn on LED(blue)","topic":"led","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":160.5078125,"y":790.5234375,"wires":[["d8de4b19.83c9a8"]]},{"id":"2df39a0b.4f9c96","type":"inject","z":"c56dec5f.5a29f","name":"Turn on LED(red)","topic":"led","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"x":160.5078125,"y":831.5234375,"wires":[["d8de4b19.83c9a8"]]},{"id":"c6352b42.dacb28","type":"inject","z":"c56dec5f.5a29f","name":"Turn off LEDs","topic":"led","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":142.50779724121094,"y":869.5234375,"wires":[["d8de4b19.83c9a8"]]},{"id":"d8de4b19.83c9a8","type":"mqtt out","z":"c56dec5f.5a29f","name":"LED control","topic":"led","qos":"0","retain":"false","broker":"8ce1d738.0bbe9","x":611.5078125,"y":807.5234375,"wires":[]},{"id":"52f8da12.1f68b4","type":"inject","z":"c56dec5f.5a29f","name":"Push tactile SW","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":154.9999542236328,"y":936.5233764648438,"wires":[["58b89bc0.a50684"]]},{"id":"ae621488.e12bf8","type":"inject","z":"c56dec5f.5a29f","name":"Release tactile SW","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":163.5077667236328,"y":976.5233764648438,"wires":[["58b89bc0.a50684"]]},{"id":"a10df1ba.9a0ff","type":"serial-port","z":"","serialport":"/dev/serial/by-id/usb-FTDI_FT230X_Basic_UART_DJ00M1CZ-if00-port0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"8472728e.15378","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"sensor","name":""},{"id":"9b27dd09.f28498","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8ce1d738.0bbe9","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3498a4e6.caae64","type":"serial-port","z":"","serialport":"/dev/serial/by-id/usb-FTDI_FT230X_Basic_UART_DJ00M4CY-if00-port0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"f41856c0.ae2108","type":"ui_group","z":"","name":"Gauge","tab":"3eebea22.a46ca6","disp":true,"width":"6"},{"id":"8cdbca0d.c3f478","type":"ui_group","z":"","name":"Actuator","tab":"8172929.b231f7","disp":true,"width":"6"},{"id":"3eebea22.a46ca6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"8172929.b231f7","type":"ui_tab","z":"","name":"Home2","icon":"dashboard","order":2}]